
/*  */

@media (max-width: 991px) {

    /* .content .header .user .mainy {
        flex-direction: column;
        overflow: hidden;
        text-align: center;
        align-items: stretch;
    } */

    /* .content .header .user .mainy .btc {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    } */

    /* .content .header .user .mainy .usd {
        padding: 10px 30px;
    } */


    /* start welcome */
    .welcom {
        text-align: center;
    }


    /* start buy */
    /* .buy {
        flex-direction: column;
    } */

}
